.card-container {
  height: 340px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:#091f36;
  border: 1px solid grey;
  border-radius: 3%;
  padding: 5%;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  box-shadow: 0 14px 28px rgba(243, 238, 238, 0.25),
    0 10px 10px rgba(78, 76, 116, 0.22);
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.card-container > h1 {
  font-size: 40px;
  font-family: "Amatic SC", cursive;
  color:white;
}

.card-container > h2 {
  font-size: 15px;
  color:white;
  font-family: "Merriweather", serif;
}
